body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #000E1B;
  /* Adjust the color to match the exact background of your image */
}

/* ----------------------------Landing Page---------------------------- */

.landing-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.landing-logo-container {
    margin-top: -50px;
}

.landing-logo {
  max-width: 60%;
  height: auto;
}

.landing-enter {
  background-color: #ffffff;
  color: #000E1B;
  padding: 10px 80px;
  margin-top: -90px;
  border-width: 2px;
  border-color: #000E1B;
  font-size: 40px;
  cursor: pointer;
  font-weight: 800;
  max-width: 60%;
  width: auto;
  border-radius: 8px;
  transition: 0.3s;
  border-style: solid;
  z-index: 1;
}

.landing-enter:hover {
  background-color: #000E1B;
  color: #ffffff;
  border-width: 2px;
  border-color: #ffffff;
}

.landing-enter:active {
    background-color: black;
    transition: 0.1s;
}

.landing-quotes {
  display: flex;
  width: 50%;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Lexend';
  font-weight: 600;
  font-size: 40px;
  position: absolute;
  bottom: 20px;
}

/* ----------------------------Login Page---------------------------- */

.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  .login-logo-container {
      margin-top: -50px;
    /* Adjust as necessary */
  }
  
  .login-logo {
    max-width: 60%;
    height: auto;
  }

  .login-user,
  .login-pass {
    border-width: 0px;
    border-radius: 6px;
    font-size: 20px;
    outline: none;
    padding-left: 10px;
    font-family: 'Lexend';
    caret-color: transparent;
    margin-top: -110px;
    z-index: 1;
  }
  
  .login-pass {
    margin-top: 10px;
  }
  
  .login-enter {
    background-color: #ffffff;
    color: #000E1B;
    padding: 5px 80px;
    margin-top: 30px;
    border-width: 2px;
    border-color: #000E1B;
    /* Adjust as necessary */
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
    max-width: 60%;
    width: auto;
    border-radius: 8px;
    transition: 0.3s;
    /* Adjust the weight as needed */
    border-style: solid;
    z-index: 1;
  }
  
  .login-enter:hover {
    background-color: #000E1B;
    color: #ffffff;
    border-width: 2px;
    border-color: #ffffff;
  }
  
  .login-enter:active {
      background-color: black;
      transition: 0.1s;
  }
  
  .login-quotes {
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: #ffffff;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    bottom: 20px;
  }

/* ----------------------------Dashboard Page---------------------------- */

.dashboard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.dashboard-topbar {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #000000;
    height: 8%;
    justify-content: left;
}
  
.dashboard-logo {
    height: 100%;
}

.dashboard-title {
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 40px;
    color: white;
    margin-left: 10px;
}

.dashboard-buttons {
    display: flex;
    flex-direction: row;
    flex: 3;
    height: 100%;
    align-items: center;
}

.dashboard-home,
.dashboard-report,
.dashboard-track,
.dashboard-analytics {
    background-color: #000000;
    border-radius: 8px;
    color: white;
    outline: none;
    font-family: 'Lexend';
    border: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.dashboard-home:hover,
.dashboard-report:hover,
.dashboard-track:hover,
.dashboard-analytics:hover {
    background-color: white;
    color: black;
    outline: none;
    font-family: 'Lexend';
    border: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}

.dashboard-divider {
    width: 0.5px;
    height: 70%;
    background-color: white;
    margin-left: 40px;
    margin-right: 70px;
}

.dashboard-button-divider {
    width: 0px;
    height: 40%;
    background-color: white;
    border:solid;
    margin-left: 30px;
    margin-right: 30px;
}

.dashboard-toggles {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0px;
}

.dashboard-mode-toggle {
    border-width: 2px;
    cursor: pointer;
    background-color: transparent;
    margin-right: 10px;
    height: 80%;
    margin-top: -2px;
    border: none;
}

.dashboard-mode-icon {
    background-color: #ffffff;
    border-radius: 8px;
    transition: 0.3s;
    border-style: solid;
    height: 100%;
    transition: 0.3s;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 2px;
    border-color: #000E1B;
}

.dashboard-mode-icon:hover {
    filter: invert(100%);
    background-color: transparent;
    border-width: 2px;
    border-color: black;
}

.dashboard-logout {
    padding: 8px 10px;
    background-color: #ffffff;
    color: #000E1B;
    border-width: 2px;
    border-color: #000E1B;
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    transition: 0.3s;
    border-style: solid;
    margin-right: 20px;
}

.dashboard-logout:hover {
    background-color: #000E1B;
    color: #ffffff;
    border-width: 2px;
    border-color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    transition: 0.3s;
    border-style: solid;
    margin-right: 20px;
}

.dashboard-outlet {
    position: absolute;
    top: 8%;
    width: 100%;
    height: 92%
}


/* ----------------------------Report Page---------------------------- */

.report-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 100%;
}

.report-report {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-watchlist {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.report-input::-webkit-file-upload-button{
    border-radius: 4px;
    padding: 0px 16px;
    height: 40px;
    cursor: pointer;
    border: solid;
    border-color: white;
    margin-right: 16px;
    transition: 0.3s;
    align-items: center;
    font-family: "Lexend";
    font-size: 25px;
    color: white;
    align-self: center;
    text-align: center;
    width: 100%;
    background-color: transparent;
}


.report-input::-webkit-file-upload-button:hover {
    background-color: #001c36;
}

.report-box {
    width: 60%;
    height: 10%;  
    border-radius: 4px;
    margin-bottom: 10px;  
}

.report-display {
    background-color: #000E1B;
    width: 50%;
    height: 50%;
}

.report-image {
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.report-submit {
    margin-top: 15px;
    background-color: #000000;
    border-radius: 8px;
    color: white;
    outline: none;
    font-family: 'Lexend';
    border: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.report-submit:hover {
    background-color: white;
    color: black;
    outline: none;
    font-family: 'Lexend';
    border: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}

.report-wanted {
    background-color: #e6e6e6;
    width: 60%;
    height: 90%;
    border-radius: 20px;
    overflow-y: scroll;
    display: grid;
    grid-column: 90%;
}

.wanted-1,
.wanted-2 {
    width: 90%;
    height: 500px;
    background-color: #001c36;
    border-radius: 20px;
    margin-top: 20px;
    align-items: center;
    align-content: center;
    margin-left: 30px;
}

.wanted-1-icon,
.wanted-2-icon {
    height: 100%;
}

.report-close {
    position: relative;
    right: 10px;
    bottom: 460px;
    height: 50px;
    cursor: pointer;
}

/* ----------------------------Track Page---------------------------- */

.track-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 100%;
}

.track-report {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track-tracker {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.track-input::-webkit-file-upload-button{
    border-radius: 4px;
    padding: 0px 16px;
    height: 40px;
    cursor: pointer;
    border: solid;
    border-color: white;
    margin-right: 16px;
    transition: 0.3s;
    align-items: center;
    font-family: "Lexend";
    font-size: 25px;
    color: white;
    align-self: center;
    text-align: center;
    width: 100%;
    background-color: transparent;
}


.track-input::-webkit-file-upload-button:hover {
    background-color: #001c36;
}

.track-box {
    width: 60%;
    height: 10%;  
    border-radius: 4px;
    margin-bottom: 10px;  
}

.track-display {
    background-color: #000E1B;
    width: 50%;
    height: 50%;
}

.track-image {
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.track-submit {
    margin-top: 15px;
    background-color: #000000;
    border-radius: 8px;
    color: white;
    outline: none;
    font-family: 'Lexend';
    border: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.track-submit:hover {
    background-color: white;
    color: black;
    outline: none;
    font-family: 'Lexend';
    border: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}

.track-found {
    background-color: #e6e6e6;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}